<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <style>
      blockquote {
        font-style: normal;
        color: #24292e; /* GitHub body text color */
        font-size: inherit;
        font-weight: normal;
        border-left: 4px solid #6a737d;
        padding-left: 1em;
        margin-left: 0;
      }
    </style>
  </head>

  {% if page.use_math %}
  {% include mathjax_support.html %}
  {% endif %}
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
